<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="addr1" value="http://192.168.0.84"/>
    <add key="addr2" value="http://192.168.0.90"/>
    <add key="addr3" value="http://192.168.0.132"/>
    <add key="addr4" value="http://192.168.0.130"/>
    <add key="addr5" value="http://218.94.23.116"/>
    <add key="addr6" value="http://192.168.0.152"/>
  </appSettings>
</configuration>
